@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");


.login-button {
  border: 1px white solid;
  border-radius: 5px;
  color: white;
  font-family: "Baloo 2", serif;
  margin-bottom: 18px;
  margin-top: 5px;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  }

#modal-content {
	width: auto;
	border-radius: 5px;
}

.signup-title,
.login-title {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #312c80;
  font-family: "Baloo 2", serif;
	font-size: 35px;
	font-weight: 500;
}

.form-label__container {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.form-input {
	/* border-radius: 25px; */
	width: 400px;
	padding: 10px;
	margin: 5px;
	font-family: 'Montserrat', serif;
}

.form-button__container {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.user-login-button {
	width: 50%;
	height: 40px;
	background-color: #ee4036;
	color: white;
	font-size: 20px;
	font-family: 'Baloo 2', serif;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.user-login-button:hover {
	background-color: #cd362e;
}
.demo-login-container {
	margin-left: 120px;
	padding-bottom: 20px;
}

.demo-text {
	font-family: "Montserrat", sans-serif;
	color: gray;
}

.demo-click-here {
	text-decoration: underline;
	color: #cd362e;
	cursor: pointer;
}
