@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");


#modal-content {
	width: auto;
	border-radius: 5px;

}

.restaurant-info-container {
    display: flex;
    justify-content: center;
    width: 275px;
    font-family: "Baloo 2", serif;
}

.edit-restaurant-title {
    text-align: center;
    color: #312c80;
    font-size: 25px;
    margin-bottom: 10px;
}


.form-label__container {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.form-input {
	/* border-radius: 25px; */
	width: 400px;
	padding: 10px;
	margin: 5px;
	font-family: 'Montserrat', serif;
}

.form-button__container {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.edit-restaurant__button-container {
    display: flex;
    justify-content: center;
}

#restaurant-submit-button {
	width: 50%;
	height: 40px;
	background-color: #ee4036;
	color: white;
	font-size: 20px;
	font-family: 'Baloo 2', serif;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    align-self: center;
}

#restaurant-submit-button:hover {
	background-color: #cd362e;
}

#form-input-textarea-edit {
    resize: none;
    height: 80px;

#edit-restaurant-button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #312c80;
  border: 1px solid #312c80;
  border-radius: 5px;
  background-color: white;
  padding: 5px 10px 5px 10px;
}

#edit-restaurant-button:hover {
  background-color: rgb(240, 240, 240);

}
