@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");

.logout-button {
  border: none;
  font-size: 16px;
  font-family: "Baloo 2", serif;
  background-color: white;
  border-radius: 5px;
  color: #312C80;
  margin-bottom: 18px;
  margin-top: 8px;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
