@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");

#delete-restaurant-button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #ee4036;
  padding: 5px 10px 5px 10px;
  margin-left: 20px;
}

#delete-restaurant-button:hover {
  background-color: #cd362e;
}
