
.business-login-button {
  border: 1px white solid;
  border-radius: 5px;
  color: white;
  font-family: "Baloo 2", serif;
  margin-bottom: 20px;
  margin-top: 8px;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.login-title-container {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	color: #312c80;
	font-size: 20px;
	font-weight: bold;
}
.business-loginmodal-button {
	width: 50%;
	height: 40px;
	background-color: #ee4036;
	color: white;
	font-size: 20px;
	font-family: 'Baloo 2', serif;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.business-loginmodal-button:hover {
	background-color: #cd362e;
}
