@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");


.nav-container {
	top: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-around;
	background-color: #312c80;
	box-shadow: 2px 0 15px 2px rgba(31, 31, 31, 0.25);
}

.left-nav {
	margin-left: 30px;
	padding: 5px;
}

.logo {
	width: 9em;
	height: auto;
	padding: 3px;
	margin-left: 0px;
	margin-top: 7px;
}

.search-input {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  padding: 7px;
  width: 300px;
  margin-top: 17px;
  border: .5px solid gray;
}

.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  margin-right: 30px;
  margin-top: 15px;
}

.are-you-a-business {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
}

.menu-button {
	height: 20px;
	color: white;
	border: 1px solid white;
	padding-bottom: 0px;
	cursor: pointer;
	padding: 5px;
	text-decoration: none;
	margin-left: 10px;
}

.profile-page-button {
  border: none;
  font-size: 16px;
  font-family: "Baloo 2", serif;
  background-color: white;
  border-radius: 5px;
  color: #312C80;
  margin-bottom: 18px;
  margin-top: 8px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}


.looking-for-a-table {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 18px;
  text-align: center;
 }


 .business-profile-button {
  border: none;
  font-size: 16px;
  font-family: "Baloo 2", serif;
  background-color: white;
  border-radius: 5px;
  color: #312C80;
  margin-bottom: 18px;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  text-decoration: none;
}
