.business-signup-form-container {
    margin-top: 5px;
    margin-right: 100px;
}

.forms-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.information-form-container {
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.restaurant-info-container {
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.restaurant-address-container {
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.business-signup-form-container p {
    font-family: "Baloo 2", serif;
    font-size: 18px;
    padding: 15px;
}

.business-signup-form-container input,
.business-signup-form-container select,
.business-signup-form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-family: "Montserrat", serif;
}

.bottom-form {
    display: flex;
    flex-direction: column;
}

#business-form-submit-button {
    margin-left: 120px;
    width: 75%;
    height: 40px;
    background-color: #ee4036;
    color: white;
    font-size: 20px;
    font-family: "Baloo 2", serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#business-form-submit-button:hover {
    background-color: #cd362e;
}

.restaurant-address-container p {
    width: 300px;
}

.your-info {
    padding: 0;
}

.account-info {
    margin-bottom: 6px;
}
